:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #353535;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.7em;
  line-height: 1.1;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

main {
  max-width: 400px;
  background-color: #242424;
  padding: 20px 50px 50px 50px;
}

.current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 5px solid;
  border-radius: 999px;
  box-shadow: 0 4px 12px;
}

.current span {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.current small {
  font-style: italic;
}

form {
  display: flex;
  margin-bottom: 2rem;
  border: 1px solid rgba(211, 211, 211, 0.575);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 200ms linear;
  justify-content: center;
}

form:focus-within,
form:hover {
  border-color: white;
}

input {
  height: 40px;
}

.weightInput {
  text-indent: 10px;
  border: none;
  border-radius: 3px;
  width: 70%;
  font-size: 1.3em;
}

.weightSubmit {
  width: 30%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 5px 0 5px 0;
  border-style: dotted;
  border-width: 1px;
  border-color: rgba(211, 211, 211, 0.575);
  line-height: 40px;
}